.navbar {
    width: 100%;
    height: 40px;
    background: #33b5e5;
    border-bottom: 1px solid #0099CC;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 76px;
}

.navbar button {
    height: 40px;
    width: 70px;
    border: 0;
    border-left: 1px solid #0099CC;
    border-right: 1px solid #0099CC;
    cursor: pointer;
    background: #33b5e5;
    transition: background-color .5s;
    color: #fff;
    float: left;
}

.navbar button:hover {
    background: #0099CC;
}

.navbar button:focus {
    outline: 0;
}

.navbar .list,
.navbar.change-name .grid {
    display: block;
}

.navbar .grid,
.navbar.change-name .list {
    display: none;
}

.search-bar {
    height: 27px;
    width: 200px;
    padding: 0 4px;
    margin: 5px 10px;
}

.search-movies {
    position: fixed;
    top: 41px;
    left: 214px;
    width: 500px;
    max-height: 800px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    overflow-y: auto;
}

.show-search-movies {
    display: block;
}

.search-movies ul {
    margin: 0 5px;
    padding: 0;
}

.search-movies li {
    list-style-type: none;
    margin: 5px 0;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color .3s;
    overflow: hidden;
    width: 100%;
    height: 75px;
    float: left;
}

.search-movies li:hover {
    background: #eee;
}
